.Rproj.user
.Rhistory
.RData
.Ruserdata

# Hugo build output
public/
public */
resources/
!content/resources/
!themes/darkacademia/layouts/resources/

# macOS
.DS_Store
assets/.DS_Store
layouts/.DS_Store
